body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f1fff3;
}

.container {
    text-align: center;
}

header {
    background: #2b9348;
    color: white;
    padding: 20px;
}

main {
    padding: 20px;
}

/* BUSCADOR */
#buscador {
    padding: 10px;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* PRODUCTOS */
.productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

/* CARRITO */
.carrito {
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    background: #55a630;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #40916c;
}

footer {
    background: #1b4332;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
